<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CWA Windows Sample">
    <test  name="Admin Tests">
        <classes>
            <class name="prelaunch.DownloadBuild"/>
            <class name="prelaunch.Install_Test"/>
            <class name="prelaunch.AddStore_Login_Tests"/>
            <class name="prelaunch.SingleLaunch_Tests"/>
            <class name="prelaunch.LogOff_Tests"/>
            <class name="prelaunch.Uninstall_Test"/>
            <class name="prelaunch.DeleteBuild"/>
        </classes>
    </test>
</suite>